<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup</title>
</head>
<body class="w-full m-0 p-0">
    <div class="w-full flex flex-col justify-center items-center">
        <div class="w-full">
            <h1 class="text-3xl"> Digite um objeto qualquer </h1>
            {% if errors['message'] != "" %}  
                <p>{{ errors['message'] }}</p>
            {% endif %}  
        </div>
        <div class="w-full">
            <form action="/send" method="POST">
                <input type="text" name="objectName" id="objectName" placeholder="Digite um objeto qualquer...">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>